# Example values for terraform.tfvars

prefix = "vmubuntu-dev"

location = "germanywestcentral"

tags = {
  project     = "vm-ubuntu-storage"
  environment = "dev"
  owner       = "devops-team"
}

vm_size = "Standard_B2s"
os = "ubuntu-22.04"
storage_os_disk_size_gb = 30
storage_data_disk_size_gb = 100
admin_username = "azureuser"
network_interface = "existing-network-nic"

backend_resource_group_name = "example-backend-rg"
backend_storage_account_name = "examplebackendstorage"
backend_container_name = "tfstate"
backend_key = "terraform.tfstate"
